<ion-content [fullscreen]="true" style="--background: #14405A" class="h-full">

  <div class="flex items-center justify-center min-h-screen p-4">
    <div class="flex flex-col md:flex-row bg-white rounded-[32px] w-full max-w-3xl sm:max-w-4xl lg:max-w-6xl xl:max-w-7xl mx-auto overflow-hidden shadow-2xl">

            <!-- Imagen a la derecha -->
      <div class="md:w-1/2">
        <img
          src="https://storage.googleapis.com/a1aa/image/65d54d14-87ba-4411-8b39-6539ee6d9d7e.jpg"
          alt="Password reset"
          class="w-full h-full object-cover"
        />
      </div>

      <!-- Formulario a la izquierda -->
      <div class="md:w-1/2 p-10 lg:p-14 xl:p-20 flex flex-col justify-center rounded-t-[32px] md:rounded-tl-[32px] md:rounded-bl-[32px] relative">

        <!-- Icono de regreso -->
        <button (click)="goBack()"class="absolute top-6 left-6 text-[#14405A] hover:text-black transition">
          <ion-icon name="arrow-back-outline" size="large"></ion-icon>
        </button>


        <h1 class="text-3xl lg:text-4xl font-semibold mb-4 text-[#14405A]">Restablecer contraseña</h1>
        <p class="mb-10 text-base lg:text-lg text-gray-600">Ingresa tu correo electrónico y te enviaremos instrucciones</p>

        <form class="flex flex-col space-y-8">
          <!-- Input: Email -->
          <div>
            <input
              type="email"
              placeholder="Correo electrónico"
              class="w-full bg-transparent border-0 border-b-2 border-gray-300 focus:border-[#14405A] focus:outline-none placeholder-gray-500 pb-3 text-lg"
            />
          </div>

          <div href="/forgot-password" class="flex items-center justify-start">
            <button
              type="submit"
              class="bg-[#E94B4B] text-white px-8 py-3 rounded-md text-base font-medium hover:bg-red-700 transition-all"
            >
              Restablecer contraseña
            </button>
          </div>
        </form>
      </div>


    </div>
  </div>
</ion-content>
